.green
{
	color: #060;
	font-family: monospace;
	font-weight: bolder;
}

table th, table td
{
	padding: 5px 20px;
}

table th
{
	background-color: #f5f5f5;
}

table:last-child 
{
	margin-bottom: 50px;
}