.vcenter
{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.noflex
{
	display: inline-block;
}	

.form-control, .input-group-btn input, .input-group-btn button
{
	height: 50px;
	font-size: 22px;
}

.logo
{
	font-size: 92px;
}