h1
{
	font-family: 'Product Sans', Arial, sans-serif;
	font-size: 72px;
}
.blue-letter
{
	color: #3369E8;
}
span.red-letter
{
	color: #D50F25;
}
span.yellow-letter
{
	color: #EEB211;
}
span.green-letter
{
	color: #009925;
}
.vcenter
{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.noflex
{
	display: inline-block;
}	
.form-control, .input-group-btn input, .input-group-btn button
{
	height: 50px;
}