.logo
{
	font-family: 'Product Sans', Arial, sans-serif;
}
.blue-letter
{
	color: #3369E8;
}
span.red-letter
{
	color: #D50F25;
}
span.yellow-letter
{
	color: #EEB211;
}
span.green-letter
{
	color: #009925;
}

.btn, .form-control, input[type=submit]
{
	border-radius: 0;
}

.btn-primary
{
	background-color: #4285f4;
	background-image: none;
}